﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align:center">Ficha Tecnica</h1>

<p style="text-align:left">ID:</p>
<p style="text-align:left">Fecha:</p>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos del Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Nombre:</th>
            <th>Apellido:</th>
            <th>Celular:</th>
        </tr>
        <tr>
            <td colspan="2">Correo:</td>
            <td>Dirección:</td>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Observaciones del Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>N°</th>
            <th>Descripcion</th>
            <th>Check</th>
        </tr>
        <tr>
            <th>1</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>2</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>3</th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="10">Datos del Hardware</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Tipo</th>
            <th colspan="6">Laptop/Torreo/All-In-One</th>
            <th>Accesorios</th>
            <th>Cargador</th>
            <th>Bolso</th>
        </tr>
        <tr>
            <th colspan="2">Marca</th>
            <th colspan="2">Modelo</th>
            <th colspan="6">S/N</th>
        </tr>
        <tr>
            <th>CPU</th>
            <th>Intel</th>
            <th>AMD</th>
            <th>Velocidad</th>
            <th>Ram(GB)</th>
            <th>4</th>
            <th>8</th>
            <th>12</th>
            <th>16</th>
            <th></th>
        </tr>
        <tr>
            <th>Almacenamiento</th>
            <th>HDD</th>
            <th>SSD</th>
            <th>Capacidad</th>
            <th>GPU</th>
            <th colspan="2">Tarjeta</th>
            <th colspan="2">Chip</th>
            <th></th>
        </tr>
        <tr>
            <th colspan="5">P.Madre</th>
            <th colspan="5"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="5">Datos Software Inicial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Sistema Operativo</th>
            <th colspan="2">Windows: </th>
            <th colspan="2">Linux: </th>
        </tr>
        <tr>
            <th>Software Instalado</th>
            <th>M. Office</th>
            <th>Navegador</th>
            <th>Lector PDF</th>
            <th>Compresor</th>
        </tr>
        <tr>
            <th>Inconvenientes:</th>
            <th colspan="4"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="6">Datos de Software Final</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S.O Instalado</th>
            <th>Win 10</th>
            <th>Win 11</th>
            <th th colspan="3">Linux</th>
        </tr>
        <tr>
            <th rowspan="5">Herramientas Officina</th>
            <th th colspan="3">Microsoft Office</th>
            <th th colspan="2">Libre Office</th>
        </tr>
        <tr>
            <th>2013</th>
            <th>2019</th>
            <th>365</th>
            <th>24.+</th>
            <th>7.+</th>
        </tr>
        <tr>
            <th>Adobe PDF</th>
            <th>Nitro</th>
            <th>Winrar</th>
            <th></th>
        </tr>
        <tr>
            <th th colspan="6">Navegador</th>
        </tr>
        <tr>
            <th>Chrome</th>
            <th>Firefox</th>
            <th>Opera</th>
            <th>Safari</th>
        </tr>
        <tr>
            <th>Antivirus Instalado</th>
            <th th colspan="6"></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Diagnostico</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>N°</th>
            <th>Descripcion</th>
            <th>Tiempo</th>
        </tr>
        <tr>
            <th>1</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>2</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>3</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>4</th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Soluciones y/o Intervenciones realizadas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>N°</th>
            <th>Descripcion</th>
            <th>Tiempo</th>
        </tr>
        <tr>
            <th>1</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>2</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>3</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>4</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>5</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>6</th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead style="text-align:center">
        <tr>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
        </tr>
        <trs>
            <th></th>
        </trs>
    </tbody>
</table>